.logo img {
    height: 200px;
    position: absolute;
    top: 50px;
    left: 0;
}

.header {
    background: url(/imagens/cacheinfo_background.gif) repeat-x;
    height: 50px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 50px
    
   
}

.header-content {
    height:  90%;
    display: flex;
    gap: 18px; 
    font-size: 20px;
    color: white;
    font-weight: bold;
}

body {
    height: 100vh;
    background-image: url(imagens/Client_Artwork_9.1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.linkHunt {
    cursor: pointer;
    text-align: center;   
}





